@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/sunny.jpg');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;

}

.details {
	flex: 4;
}

.home {
	color: #9d1717;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}

.forecast {
	color: #9d1717;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}

.today {
	margin-bottom: 20px;
	color: black;
	font-size: small;
}

.temperature {
	flex: 2;
	margin-top: 207px;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -5px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

.footer {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.hazard {
	width: 220px;
	height: 220px;
	text-align: center;
	padding-top: 20px;
	margin: 0 auto;
	margin-top: -80px;
	z-index: 1;
}

.warning {
	color: #9d1717;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
	margin-top: -80px;
}

.warningTitle {
	text-align: center;
	margin-top: 20px;
	font-size: 1.5em;
	font-weight: 600;
}

.warningDescription {
	text-align: center;
	margin-top: 40px;
	font-size: 1em;
	font-weight: 850;
}

.clouds {
	margin-top: -200px;
}